body{
    font-family:Arial;
    font-size: 12px;
    background-color:silver;

}
.container{
    width: 1200px;
    height: 895px;
    margin: 0 auto;
    margin-top:10px;
}

#contenedorglobal{
    background-color: white;
    border:2px inset purple;
}

.encabezado
{
    height: 75px;
    width: 1175px;
    background-color: #848484;
    margin: 10px 10px 10px 10px ;
    border:2px inset purple;
    color: #0000FF;
    text-align:center;
}


.contenedorinterno{
    width: 1175px;
    height: 785px;
    background-color: white;
    margin: 10px 10px 10px 10px ;
    border:2px inset purple;
}

.izquierdo{
    float:left;
    overflow: auto;
    width: 250px;
}
.izquierdo1{
    width: 240px;
    height: 270px;
    background-color: D0FA58;
    margin: 10px 10px 0px 10px;
    border:2px inset purple;
    text-align:left;

    
}
.all_buttons{
    overflow-y: scroll;
    width: 200px;
    height: 190px;

}
.izquierdo2{
    width: 240px;
    height: 480px;
    background-color: D0FA58;
    margin: 10px 10px 10px 10px ;
    border:2px inset purple;

}

.derecho{
 
    float:right;
   
}

.central{
    width: 600px;
    height: 350px;
    margin: 10px 10px 10px 10px ;
    border:4px inset purple;
    float:left;
   
}

.indicaciones{
    width: 290px;
    height: 350px;
    border:4px inset purple;
    margin: 10px 0px 10px 10px ;
    overflow-y: scroll;
   
}

.boton_personalizado{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    width: 185px;
    height: 25px;
    cursor:pointer;
}

.button_show{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
    width: 165px;
    height: 25px;
    cursor:pointer;
}

h2{
    color:#FF0000;
}

.central2{
    width: 900px;
    height: 355px;
    background-color: D0FA58;
    margin: 0px 10px 10px 10px ;
    border:4px inset purple;
    text-align:center;
    color:#298A08;
    overflow:auto;
}

#trips_table{
    overflow-x:auto; 
    overflow-y:auto; 
}

#tabs{
    width: 100%;
    height: 100%;
}

.data{
     height: 30px;
    border:4px inset purple;
    margin: 0px 30px 0px 0px ;
    background-color:white;
}